# Backend
PORT=3000
DATABASE_URL=postgresql://wms_db_sdck_user:AGMpIl0MVwTygbw7YpmoFiCXvJaX8u3j@dpg-d79ahhedqaus739ip670-a.singapore-postgres.render.com/wms_db_sdck
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_STRING
CORS_ORIGIN=https://sumedh-NX.github.io   # front‑end origin
